<div class="container">
  <h1>Modern Angular Form</h1>
  
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Name:</label>
      <input
        type="text"
        [(ngModel)]="name"
        name="name"
        placeholder="Type your name..."
        (keydown)="onSubmit()">
    </div>
    
    <div class="output">
      Hello, {{name}}!
    </div>
  </form>
  
  <form (ngSubmit)="onSubmit2()">
    <p *ngIf="IsSubmitted">
      This text will appear after you press the submit button
    </p>
    <button type="submit">Submit to Show Text</button>
  </form>
  
  <div>
    <app-message-details
      *ngFor="let users of Users" 
      [users]="users"
      (deleteUser)="deleteUserFromList($event)">
    </app-message-details>
  </div>
</div>